@mixin min-max($min, $max) {
  max-width: $max;
  min-width: $min;
}

@mixin btn($w, $rd, $color, $pg, $pv, $style, $bg) {
  border-radius: $rd;
  border-color: $color;
  padding: $pv $pg;
  border-width: $w;
  border-style: $style;
  background-color: $bg;
}

@mixin title {
  font-family: Syne;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: center;
}

@mixin description {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding: 0 240px;
  color: $purple;
}
